* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --ff: 'Inter', sans-serif;
    --title: 700 1.5rem/1.33 var(--ff);
    --label: 600 1rem/1.25 var(--ff);
    --paragraph: 500 1rem/1.25 var(--ff);
    --link: 500 0.875rem/1.14 var(--ff);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-primary);
    color: var(--content-secondary);
    font: var(--paragraph);
}

h1 {
    font: var(--title);
    color: var(--content-primary);
}